.vh60 {
  height: 60vh !important;
}

.link_button {
  --bs-btn-focus-shadow-rgb: transparent;
}

.search_contacts_navbar {
  height: 50px;
  border-top: 1px solid #5bc8ec;
}

.contacts_list_container {
  height: 350px;
  overflow: scroll;
}

.contact_details_container {
  height: 200px;
  overflow-x: scroll;
}
